﻿@model BooksAndCourses.Models.Book

@{
    ViewData["Title"] = "Добавление книги";
}

<h2>Создание ресурса</h2>

<h4>Книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathToCover" class="control-label"></label>
                <input asp-for="PathToCover" class="form-control" />
                <span asp-validation-for="PathToCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathToDescription" class="control-label"></label>
                <input asp-for="PathToDescription" class="form-control" />
                <span asp-validation-for="PathToDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstPage" class="control-label"></label>
                <input asp-for="FirstPage" class="form-control" />
                <span asp-validation-for="FirstPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publishment" class="control-label"></label>
                <input asp-for="Publishment" class="form-control" />
                <span asp-validation-for="Publishment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edition" class="control-label"></label>
                <input asp-for="Edition" class="form-control" />
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model?.AuthorsViewModel != null && Model.AuthorsViewModel.Count > 0)
                {
                    <label asp-for="AuthorsViewModel" class="control-label"></label>
                    @for (int i = 0; i < Model.AuthorsViewModel.Count; i++)
                    {
                    <input type="hidden" asp-for="AuthorsViewModel[i]" />
                    <input type="hidden" asp-for="AuthorsViewModel[i].Title" />
                    <input value="@Model.AuthorsViewModel[i].Title" class="form-control"/>
                    <input type="submit"  name="RemoveAuthor" value="Удалить автора @Model.AuthorsViewModel[i].Title"
                           class="btn btn-default"/> 
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
